/*复位样式*/
body,
a,
textarea,
input {
  font-family: SourceHanSans, Microsoft YaHei, "宋体", Verdana, Geneva, sans-serif;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
hr,
blockquote {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  font-size: 0px;
}
html,
body {
  font-family: "微软雅黑";
  font-size: 20px;
  /*根*/
  color: #787878;
  max-width: 640px;
  margin: auto;
}
.container {
  padding: 0rem 0.8rem;
}
p {
  font-size: 0.65rem;
  line-height: 1.2rem;
  text-align: justify;
  text-indent: 1.3rem;
}
/*
p{
  font-size: 0.65rem;
  line-height: 1.2rem;
  text-align: justify;
  text-indent: 1.3rem;
}*/
p + p {
  margin-top: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.8rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
ul {
  padding: 0;
}
h3 {
  font-size: 0.7rem;
  color: #3a3a3a;
  font-weight: normal;
  text-align: center;
  line-height: 2rem;
}
.pre {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.clearfix:after,
.clearfix:before {
  clear: both;
}
.text-red {
  color: #e93a57;
}
.inline-block {
  display: inline-block;
}
.head {
  height: 3rem;
}
.head .logo1 img {
  height: 3rem;
  display: block;
}
.head .logo2 {
  padding-top: 0.463rem;
}
.head .logo2 img {
  height: 1.5rem;
}
.banner img {
  height: 10rem;
}
.page_index {
  position: relative;
}
.page_index .page_list {
  height: 12rem;
}
.page_index .page_list .page_list_ul li {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 1.625rem;
  display: inline-block;
}
.page_index .page_list .page_list_ul li .page_list_img {
  width: 2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.page_index .page_list .page_list_ul li .page_list_img img {
  display: block;
  height: 2rem;
  width: 2rem;
}
.page_index .page_list .page_list_ul li h4 {
  font-size: 0.65rem;
  font-weight: 400;
}
.recommend .re {
  height: 2.8rem;
}
.recommend .re .recommend_list h4 {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.25rem;
  color: white;
}
/* 标题 */
.title {
  margin-top: 2rem;
  position: relative;
}
.title .text {
  font-size: 1rem;
  line-height: 0rem;
  text-align: center;
  text-indent: 0rem;
  color: #585757;
}
.title p .left,
.title p .right {
  content: "";
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  background: #464445;
  position: absolute;
  top: -0.7rem;
  left: 50%;
}
.title p .left {
  margin-left: 2.7rem;
  margin-left: 2.5rem;
}
.title p .right {
  margin-left: -4rem;
}
.title span {
  font-size: 0.7rem;
  margin-top: 0.7rem;
  display: block;
}
.bule_color {
  color: #74C5BE;
}
/*index 的 p 标签*/
.page_index p {
  text-indent: 0rem;
}
/*hf_title*/
.Hf_title {
  margin-top: 2rem;
}
.Hf_title .text {
  font-size: 1rem;
  line-height: 0rem;
  text-align: center;
  text-indent: 0rem;
  color: #585757;
}
.Hf_title p {
  text-align: center;
  width: 100%;
  padding: 0;
  text-indent: 0;
}
.Hf_title p span {
  display: inline-block;
}
.Hf_title p .span_border {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 0.1rem;
  position: relative;
  background: #464445;
  top: -0.3rem;
}
.Hf_title span {
  font-size: 0.7rem;
  display: block;
  text-align: center;
}
